body.bg {
  background: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  padding: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  background: #6a00ff;
  color: white;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.07);
  opacity: .9;
}

.navbar {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 30px 0;
  border: 1px solid #222;
}

.link {
  color: #7ac9ff;
  cursor: pointer;
}

/* Game */

#gameArea {
  width: 100%;
  height: 300px;
  background: #111;
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.circle {
  width: 50px;
  height: 50px;
  background: #ffeb3b;
  border-radius: 50%;
  position: absolute;
}